
:root.theme-light {
  --accent-color: var(--basic-color-light-theme);
  --title-color: var(--title-color-light-theme);
  --page-bg-color: var(--sections-bg-color-light-theme);
  --header-text-bg-color: var(--basic-color-light-theme);
  --header-text-color: var(--text-color-light-theme);
  --question-bg-color:  var(--sections-bg-color-light-theme);
  --question-color:  var(--text-color-light-theme);
  --answer-title-bg-color: var(--basic-color-light-theme);
  --answer-title-color: var(--text-color-light-theme);
  --answer-text-bg-color: var(--sections-bg-color-light-theme);
  --answer-text-color: var(--text-color-light-theme);
  --advice-title-bg-color:  var(--basic-color-light-theme) ;
  --advice-title-color: var(--text-color-light-theme);
  --button-color: var(--text-color-light-theme);
  --border-color-opacity: #32312D66;
  --background-image:  url("../images/cover-image-light.png");
  --deco-color: var(--text-color-light-theme);


}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: var(--basic-color-light-theme);
    --title-color: var(---title-color-light-theme);
    --page-bg-color: var(--sections-bg-color-light-theme);
    --header-text-bg-color: var(--basic-color-light-theme);
    --header-text-color: var(--text-color-light-theme);
    --question-bg-color:  var(--sections-bg-color-light-theme);
    --question-color:  var(--text-color-light-theme);
    --answer-title-bg-color: var(--basic-color-light-theme);
    --answer-title-color: var(--text-color-light-theme);
    --answer-text-bg-color: var(--sections-bg-color-light-theme);
    --answer-text-color: var(--text-color-light-theme);
    --advice-title-bg-color:  var(--basic-color-light-theme) ;
    --advice-title-color: var(--text-color-light-theme);
    --button-color: var(--text-color-light-theme);
    --border-color-opacity: #32312D66;
    --background-image:  url("../images/cover-image-light.png");
    --deco-color: var(--text-color-light-theme);

  }

}

.theme-light .rec_empty::before,
.theme-light .rec_empty::after {
  display: none;
}
